@import "../../variables.scss";

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.grid {
  width: 100%;

  font-size: $font-size-xxl;
  font-weight: 700;

  display: -ms-grid;
  -ms-grid-columns: min-content 1fr;

  display: grid;
  grid-template-columns: min-content 1fr;
}

.count {
  padding-right: 2vw;
}
