@import "../../../variables.scss";

.wrapper {
  width: 100%;
  height: 100%;

  display: -ms-grid;
  -ms-grid-rows: min-content 1fr;

  display: grid;
  grid-template-rows: min-content 1fr;

  // overflow: hidden;
}

.heading {
  font-size: $font-size-md;
  padding-bottom: 2vh;
}

.chapterTitle {
  color: $text-color-muted;
}

.outerContentWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.innerContentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.largeTitle {
  font-size: $font-size-xl;
  padding-bottom: 2vh;
}
