@import "../../variables.scss";

.outerWrapper {
  width: 100%;
  height: 100%;

  border: 0.15vw solid darken($text-color-mute, 50);
  border-right: 0;
  border-left: 0;
  padding: 4vh 0;

  transition: 5s ease border-color;
}

.innerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.label {
  font-size: $font-size-md;
  color: $text-color-mute;
  margin-bottom: 2vh;
}

@keyframes hue-rotation {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.heading {
  font-size: 7.5vw;
  font-weight: 700;

  color: orange;
  background-clip: text;
  animation: hue-rotation 10s linear 0ms infinite;

  text-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
}

.logos {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 18vh;
  filter: brightness(lightness($text-color-mute));
}
