@import "../../variables.scss";

.canvasWrapper {
  width: 100%;
  height: 100%;
  position: relative;

  border: 0.15vw solid $text-color-muted;
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
